@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    color: black;
    font-size: 16px;
    margin: auto;
    box-sizing: border-box;

}

.block {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 950px;
    background-color: rgb(230, 227, 227);
}

.block1 .block2 .block3 .block4 {
display: flex;
width: 100%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 500;
    margin: 5px;
    text-align: center;
    
}  

h2  {
    font-size: 20px;
    margin: 5px;
    text-align: center;

}
.red {
    color: brown;
    background-color: rgb(199, 197, 197);
}
hr {
    color: rgb(12, 12, 12);
    margin: 20px;    
}

p {
    margin-top: 20px;
}

code {
    white-space: pre;
    color: brown;
}

.prog {
    display: flex;
    width: 90%;   
    background-color: rgb(199, 197, 197);
}

.blu {
    color: blue;
    background-color: rgb(199, 197, 197);
}
.title {
    font-size: 16px;
    font-weight: 600;
}