body {
    color: aliceblue;
    font-size: 40px;
    text-align:left; 
   
}
.block {
    display: block;
    width: 700px;
    height: 425px;
    background-color: fuchsia;
    border: 30px solid gainsboro; 
    
    }

ol {
    background-color:fuchsia ;
    padding: 10px;
    margin: 10px;
    list-style-type:decimal; 
    list-style-position:inside ;
    text-align: left
}
li {
    background-color: rgb(250, 142, 214);
    padding: 10px;
    margin: 10px;
}

li span {
    background-color: rgb(180, 106, 156);
    padding: 10px;
    margin: 10px;
}